.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 24px;
}

.icon {
  align-self: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 9999px;
  background-color: #fee2e2;
  color: rgb(220 38 38);
}

.title {
  font-size: 2.25rem;
  color: var(--tex-dark);
  margin: 0;
  line-height: 1;
}

.message {
  font-size: 1.125rem;
  color: #475569;
}

.buttonWrapper {
  align-self: center;
  width: 240px;
}
