.page {
  --header-height: 73px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

.page-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
}

.page-content {
  display: flex;
  flex: 1;
  height: calc(100vh - var(--header-height));
}

.create-chat-button {
  position: fixed;
  bottom: var(--create-chat-button-bottom);
  left: var(--create-chat-button-left);
  width: var(--create-chat-button-width);
}
