.title {
  color: var(--main-dark);
  font-weight: 400;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: none;
}

.signInLink {
  color: var(--main-dark);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
